.blogsAndNews-grid-container{
      display: grid;
      width: 100%;
      padding: 8px;
      flex-wrap: wrap;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1rem;
}

.blogs-menu-items{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.blog-item-description-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
}

.blog-item-name{
      text-align: center;
      color: var(--clr-light);
      font-size: var(--size-lg);
      margin-bottom: 0;
}

.blog-item-description{
      color: var(--clr-light);
      text-align: center;
      max-width: 60vh;
      font-size: var(--size-sm);
      padding-left: 20px;
      padding-right: 20px;

}

.blogs-item {
      margin-bottom: 20px;
}