.mobile-navigations{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 40%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--clr-brown600);
      margin-top: 60px;
      height: auto;
      padding: 20px;
      border-bottom-left-radius: 20px;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100%);
}


.mobile-navigations li {
      list-style: none;
      transition: all 0.3s ease;
      
}

.mobile-navigations li:hover {
      transform: translateX(-10px);
}

.mobile-navigations li:active {
      transform: translateY(-5px);
}

.mobile-navigations li a{
      color: var(--clr-light);
      font-size: var(--size-lg);
      transition: all 0.3s;
}

.mobile-navigations li a:active{
      color: var(--clr-brown400);
}